<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Angular Registration</title>
        <link href="Content/css" rel="stylesheet">
        <script src="scripts/libraries" type="text/javascript"></script>
        <script src="scripts/application" type="text/javascript"></script>
    </head>
    <body>
        <div ng-app="registration" ng-controller="RegistrationCtrl as registration" class="container">
            <div class="jumbotron"> 
                <h1>Sample AngularJS Wizard SPA</h1>
            </div>
            <form class="form-horizontal" name="wizard" novalidate>
                <div ng-switch="registration.getCurrentStep()">
                    <fieldset>
                        <legend>Step {{registration.currentStep+1}}</legend>
                        <div ng-switch-when="step1">
                            <ng-include src="'views/step1.html'"></ng-include>
                        </div>

                        <div ng-switch-when="step2">
                            <ng-include src="'views/step2.html'"></ng-include>
                        </div>

                        <div ng-switch-when="step3">
                            <ng-include src="'views/step3.html'"></ng-include>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-1 col-sm-offset-2">
                                <button ng-click="registration.prevStep()" ng-show="registration.currentStep != 0" class="btn btn-primary">Back</button>
                            </div>
                            <div class="col-sm-1 col-sm-offset-1">
                                <button type="submit" ng-click="registration.nextStep(wizard)" ng-show="!registration.isLastStep()" class="btn btn-primary">Next</button>
                                <button type="submit" ng-click="registration.submit()" ng-show="registration.isLastStep()" class="btn btn-danger">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>
        <div class="footer">
            <div class="container">
                <p class="text-muted">All rights reserved. &copy; Piotr Benetkiewicz</p>
            </div>
        </div>
    </body>
</html>
