<p>
    Please review the following data summary before submitting. Submit the form if it looks correct or go back and adjust.
</p>
<div class="panel panel-info">
    <div class="panel-heading">
        Summary
    </div>
    <ul class="list-group">
        <li class="list-group-item"><strong>First name:</strong> {{viewModel.firstName}}</li>
        <li class="list-group-item"><strong>Last name:</strong> {{viewModel.lastName}}</li>
        <li class="list-group-item"><strong>Location:</strong> {{viewModel.location.name}}</li>
        <li class="list-group-item"><strong>Car:</strong> {{viewModel.car.Name}}</li>
        <li class="list-group-item"><strong>Distance:</strong>&nbsp;<localizeddistance distance="{{viewModel.distance}}" location="{{viewModel.location.id}}"></localizeddistance></li>
    </ul>
</div>