<div class="row">
    <div class="col-md-2 col-md-offset-1">
        <label for="car">Car make:</label>
    </div>
    <div class="col-md-9">
        <select ng-model="viewModel.car" id="car" name="car" ng-options="CarMake.Name for CarMake in carMakes" required>
            <option value="">Select One</option>
        </select>
        <span ng-show="submitted && wizard.car.$invalid">Car is required.</span>
    </div>
</div>

<div class="row">
    <div class="col-md-2 col-md-offset-1">
        <label for="distance">Distance:</label>
    </div>
    <div class="col-md-9">
        <input type="text" id="distance" name="distance" ng-model="viewModel.distance" required />
        <span ng-show="submitted && wizard.distance.$invalid">Distance is required.</span>
    </div>
</div>